<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

  <body>

        <div class="container-fluid">
        <!--/main-->
        <div style="padding-top: 10px; display: block; margin: auto; max-width: 1200px;" data-spy="scroll" data-target="#sidebar-nav">
        
          <div class="row">
              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                          <img src='/images/savethedate.jpg'   class="main-box-image">
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                      <ul>
                        <li> W Hotel in Union Square </li>
                        <li> Hyatt Hotel in Union Square </li>
                        <li> Jade Hotel </li>
                      </ul>
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                  <img src='/images/pic1.jpg'   class="main-box-image">
              </div>


              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                      <ul>
                        <li> Bed, Bath & Beyond </li>
                        <li> Home Depot </li>
                      </ul>
              </div>

          </div>

          <div class="row">
              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                      <ul>
                        <li> Getting here by plane </li>
                        <li> Getting here by plane </li>
                        <li> Getting here by car </li>
                        <li> Getting around while you're here </li>
                      </ul>
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                      <img src='/images/pic2.jpg'   class="main-box-image">
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                      <ul>
                        <li> Places to see </li>
                        <li> Things to do </li>
                        <li> Places to eat </li>
                      </ul>
              </div>  

              <div class="col-sm-1 col-md-6 col-lg-3 main-box">
                      <img src='/images/pic3.jpg'   class="main-box-image">
              </div>

          </div>  
      </div><!--/.data spy-->

        <div class="clearfix"></div>
          
    </div><!--/.container fluid-->

  </body>
</html>