<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<div class="header" style="display: block;">
    
  <div style="float: right !important; width: 33.333%; display: inline-block; border: 1px solid black;">
      <img src="images/flower_left2.jpg" alt="" >
  </div>

  <div style="border: 1px solid black; width:33.333%; display: inline-block; ">

        <div style="height: 40%; ">
            <div class="head_title " style="border: 1px solid black">
                <h1>We’re Getting Married</h1>
                <p class="sub_title">SATURDAY, 25<sup>th</sup> JULY 2015</p>
            </div>
        </div>
 
        <div style="height: 60%;">  
            
              <div class="head_name">
                  <strong>JULIAN</strong> <em>COUNIHAN</em>
              </div>
                            
              <div class="head_amp">
                    <img class="img-responsive" src="http://demo.themefuse.com/justmarried/wp-content/themes/just-married-parent/images/head_amp.png" >
              </div>               
            
              <div class="head_name">
                  <strong>EMILY</strong> <em>CHRISTENSEN</em>
              </div>
            
        </div><!--/bottom center header section-->
  </div><!--/center header section-->

  <div style="float: left !important; width: 33.333%; display: inline-block; border: 1px solid black;">
      <img src="images/flower_right2.jpg" alt="" class="img-responsive">
  </div>
</div><!--/large header section-->
  
<div class="clearfix" style="clear: both"></div>

<div class="container-fluid">

        <!--/main-->
        <div style="padding-top: 10px;" data-spy="scroll" data-target="#sidebar-nav">
        
          <div class="row row-centered ">

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-title"> schedule </div>
                <div class="box-content">      
                      <ul>
                        <li> Rehearsal Dinner on Friday, July 24th @ 8:00pm at the Sugarlift Gallery (map)</li>
                        <li> Wedding Ceremony on Saturday, July 25th @ 5:00pm at Christ Church (map) </li>
                        <li> Reception on Saturday, July 25th @ 7:00pm at 80 5th Avenue (map)</li>
                        <li> Brunch on Sunday, July 26th @ 11:00am at 52 East 13th (map)</li>
                      </ul>
                </div>
                <div class="box-subtitle">{click here for more information}</div>
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-title"> other </div>
                <div class="box-subtitle">registry</div>
                
                <div class="box-content">     
                  <ul>
                    <li> Bed, Bath & Beyond </li>
                    <li> Home Depot </li>
                  </ul>
                </div>

                <div class="box-subtitle">sites to see </div>      
                <div class="box-subtitle">nyc tips </div>
                <div class="box-subtitle">{click here for more information}</div>

              </div>
              
              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-title"> getting here </div>
                <div class="box-content"> 
                      <ul>
                        <li> Getting here by plane </li>
                        <li> Getting here by plane </li>
                        <li> Getting here by car </li>
                        <li> Getting around while you're here </li>
                      </ul>
                  <div class="box-subtitle">{click here for more information}</div>
                 </div> 
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-title"> accommodations </div>
                <div class="box-content"> 
                    <ul>
                        <li> W Hotel in Union Square </li>
                        <li> Hyatt Hotel in Union Square </li>
                        <li> Jade Hotel </li>
                    </ul>
                    <div class="box-subtitle">{click here for more information}</div>
                </div>
              </div>  

          </div>  
      </div><!--/.data spy-->

      <div class="clearfix"></div>
          
    </div><!--/.container fluid-->

  </body>
</html>