<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<div class="container-fluid">

<div class="header">
  <div class="row">
    <div class="row-same-height row-full-height">

      <div class="hidden-xs hidden-sm col-md-4 col-xs-height col-full-height" style="text-align: right">
          <img src="images/flower_left2.jpg" alt="" >
      </div>

      <div class="col-sm-12 col-md-4 col-xs-height col-full-height">
        
        <div class="head_title ">
            <h1>We’re Getting Married</h1>
            <p class="sub_title">SATURDAY, 25<sup>th</sup> JULY 2015</p>
        </div>
 
        <div class="row" style="height: 50%; margin-top: 15px;">  
            <div class="row-same-height row-full-height">
              <div class="col-xs-12 col-sm-5 head_name col-xs-height col-full-height">
                  <strong>JULIAN</strong> <em>COUNIHAN</em>
              </div>
                            
              <div class="col-xs-12 col-sm-2 head_amp col-xs-height col-full-height" style="text-align: center">
                    <img class="img-responsive" src="http://demo.themefuse.com/justmarried/wp-content/themes/just-married-parent/images/head_amp.png" >
              </div>               
            
              <div class="col-xs-12 col-sm-5 head_name col-xs-height col-full-height">
                  <strong>EMILY</strong> <em>CHRISTENSEN</em>
              </div>
            </div>
            
        </div><!--/bottom center header section-->

      </div>

      <div class="hidden-xs hidden-sm  col-md-4 col-xs-height col-full-height" style="text-align: left">
          <img src="images/flower_right2.jpg" alt="" class="img-responsive">
      </div>

     </div>
</div>
</div>
</div>
  
<div class="clearfix" style="clear: both"></div>

<div class="container-fluid">

        <!--/main-->
        <div style="padding-top: 10px;" data-spy="scroll" data-target="#sidebar-nav">
        
          <div class="row row-centered ">

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-inner" style="height:260px;">
                  <div class="box-title">
                      <div style= "position: relative; top: 15px; background-color: white; width:auto; display:inline-block; padding-left:5px; padding-right:5px">
                      schedule 
                      </div></div>
                  <div class="box-content">      
                        <ul>
                          <li> Rehearsal Dinner on Friday, July 24th</li>
                          <li> Wedding Ceremony on Saturday, July 25th @ Christ Church (<a href="https://www.google.com/maps/place/Christ+Church+United+Methodist/@40.76383,-73.969527,17z/data=!3m1!4b1!4m2!3m1!1s0x89c258ef8d7fa025:0x41dc60e0c1511e04">map</a>) </li>
                          <li> Reception on Saturday, July 25th @ 80 5th Avenue (<a href="https://www.google.com/maps/place/80+Fifth+Avenue,+New+York,+NY+10011/@40.7360294,-73.9941595,19z/data=!3m1!4b1!4m7!1m4!3m3!1s0x89c2599813fde7e5:0x959cee4cc0574535!2s80+5th+Ave,+New+York,+NY+10011!3b1!3m1!1s0x89c2599819acc423:0x5c542860733e3099">map</a>)</li>
                        </ul>
                  </div>
                  
                </div>
                <div class="box-subtitle">{click here for more information}</div>
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-inner" style="height:260px;">
                  <div class="box-title">
                    <div style= "position: relative; top: 15px; background-color: white; width:auto; display:inline-block; padding-left:5px; padding-right:5px">
                      other </div></div>
                  <div class="box-subtitle">registry</div>
                  
                  <div class="box-content">     
                    <ul>
                      <li> Bed, Bath & Beyond </li>
                      <li> Home Depot </li>
                    </ul>
                  </div>

                  <div class="box-subtitle">sites to see </div>      
                  <div class="box-subtitle">nyc tips </div>
                </div>
                <div class="box-subtitle">{click here for more information}</div>

              </div>
              
              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-inner" style="height:260px; ">
                <div class="box-title">
                  <div style= "position: relative; top: 15px; background-color: white; width:auto; display:inline-block; padding-left:5px; padding-right:5px">
                    getting here </div></div>
                <div class="box-content"> 
                      <ul>
                        <li> Getting here by plane </li>
                        <li> Getting here by plane </li>
                        <li> Getting here by car </li>
                        <li> Getting around while you're here </li>
                      </ul>
                </div>
                  
                 </div>
                 <div class="box-subtitle">{click here for more information}</div> 
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-inner" style="height:260px;">
                <div class="box-title">
                  <div style= "position: relative; top: 15px; background-color: white; width:auto; display:inline-block; padding-left:5px; padding-right:5px">
                    accommodations </div></div>
                <div class="box-content"> 
                    <ul>
                        <li> W Hotel in Union Square </li>
                        <li> Hyatt Hotel in Union Square </li>
                        <li> Jade Hotel </li>
                    </ul>
                </div>
                    
                </div>
                <div class="box-subtitle">{click here for more information}</div>
              </div>  

          </div>  
      </div><!--/.data spy-->

      <div class="clearfix"></div>
          
    </div><!--/.container fluid-->

  </body>
</html>