<!DOCTYPE html>
<html lang="en" ng-app="weddingApp">

<%- include header.ejs %>

<body>

    <div class="container-fluid">

      <div class="header">
        <%- include navigation-bar-public.ejs %>
      </div><!--/ header -->

      <div class="clearfix" style="clear: both"></div>
       
      <div class="view-container">
        <div ng-view class="view-frame"></div>
      </div> 
              
      <div class="clearfix" style="clear: both"></div>

    </div><!--/.container fluid-->

</body>
</html>