<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

  <body>
    
    <%- include navigation-bar-public.ejs %>

        <div class="container-fluid">
        <!--/main-->
        <div style="padding-top: 10px" data-spy="scroll" data-target="#sidebar-nav">
        
        <div class="row">
            <div class="col-lg-4">
                <div id="home" class="section panel panel-default ">
                  <div class="panel-body">
                        <img src='/images/savethedate.jpg'  style=" margin-left: auto; margin-right: auto;" class="img-responsive">
                  </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div id="schedule" class="section panel panel-default ">
                  <div class="panel-heading">Schedule</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div id="location" class="section panel panel-default ">
                  <div class="panel-heading">Location</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">    
                <div id="registry" class="section panel panel-default">
                  <div class="panel-heading">Registry</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>  
            </div>

            <div class="col-lg-3">    
                <div id="accommodation" class="section panel panel-default">
                  <div class="panel-heading">Accommodation</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
            </div>

            <div class="col-lg-3">    
                <div id="travel" class="section panel panel-default ">
                  <div class="panel-heading">travel</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
            </div>  

            <div class="col-lg-3">    
                <div id="other" class="section panel panel-default">
                  <div class="panel-heading">Things-to-Do</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
            </div>
        </div>  

        <div class="clearfix"></div>
          
        </div><!--/.col-xs-12-->
    </div><!--/.container fluid-->

  </body>
</html>