<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<div class="container-fluid">

<div class="header">
  <div class="row">
    <div class="row-same-height row-full-height">

      <div class="hidden-xs hidden-sm col-md-4 col-xs-height col-full-height" style="text-align: right">
          <img src="/images/flower_left3.jpg" alt="" >
      </div>

      <div class="col-sm-12 col-md-4 col-xs-height col-full-height">
        
        <div class="head_title ">
            <h1>We’re Getting Married</h1>
            <p class="sub_title">SATURDAY, 25<sup>th</sup> JULY 2015</p>
        </div>
 
        <div class="row" style="height: 50%; margin-top: 15px;">  
            <div class="row-same-height row-full-height">
              <div class="col-xs-4 col-sm-5 head_name col-xs-height col-full-height">
                  <strong>JULIAN</strong> <em>COUNIHAN</em>
              </div>
                            
              <div class="col-xs-4 col-sm-2 head_amp col-xs-height col-full-height" style="text-align: center">
                    <img class="img-responsive" src="/images/head_amp.png" >
              </div>               
            
              <div class="col-xs-4 col-sm-5 head_name col-xs-height col-full-height">
                  <strong>EMILY</strong> <em>CHRISTENSEN</em>
              </div>
            </div>
            
        </div><!--/bottom center header section-->

      </div>

      <div class="hidden-xs hidden-sm  col-md-4 col-xs-height col-full-height" style="text-align: left">
          <img src="/images/flower_right3.jpg" alt="" class="img-responsive">
      </div>

     </div>
</div>
</div>
</div>
  
<div class="clearfix" style="clear: both"></div>

<div class="container-fluid">

        <!--/main-->
        <div style="padding-top: 10px;" data-spy="scroll" data-target="#sidebar-nav">
        
          <div class="row row-centered ">

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-inner" style="height:260px;">
                  <div class="box-title">
                      <div style= "position: relative; top: 15px; background-color: white; width:auto; display:inline-block; padding-left:5px; padding-right:5px">
                      schedule 
                      </div></div>
                  <div class="box-content">      
                        <ul>
                          <li> Rehearsal Dinner on Friday, July 24th</li>
                          <li> Wedding Ceremony on Saturday, July 25th @ Christ Church (<a href="https://www.google.com/maps/place/Christ+Church+United+Methodist/@40.76383,-73.969527,17z/data=!3m1!4b1!4m2!3m1!1s0x89c258ef8d7fa025:0x41dc60e0c1511e04">map</a>) </li>
                          <li> Reception on Saturday, July 25th @ 80 5th Avenue (<a href="https://www.google.com/maps/place/80+Fifth+Avenue,+New+York,+NY+10011/@40.7360294,-73.9941595,19z/data=!3m1!4b1!4m7!1m4!3m3!1s0x89c2599813fde7e5:0x959cee4cc0574535!2s80+5th+Ave,+New+York,+NY+10011!3b1!3m1!1s0x89c2599819acc423:0x5c542860733e3099">map</a>)</li>
                        </ul>
                  </div>
                  
                </div>
                
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <div class="box-inner" style="height:260px;">
                  <div class="box-title">
                    <div style= "position: relative; top: 15px; background-color: white; width:auto; display:inline-block; padding-left:5px; padding-right:5px">
                      map </div></div>
                  
                  <div class="box-content">     
                    <div id="map-canvas"></div>
                  </div>
                </div>
                

              </div>
              

              <div class="col-sm-2 col-md-12 col-lg-6 col-centered col-fixed" >
                <div class="box-inner" style="height:260px; ">
                <div class="box-title">
                  <div style= "position: relative; top: 15px; background-color: white; width:auto; display:inline-block; padding-left:5px; padding-right:5px">
                    accommodations </div></div>
                <div class="box-content"> 
                    <ul>
                        
                        <li>
                          we have a block of rooms at The Kitano- a standard king room is $199/ night before $8.875% tax. If you want to book there call 212-885-7000 or 1-800-548-2666 or reservations@kitano.com and say you are part of the Christensen & Counihan wedding block. The block is good until June 25 and you can cancel up until 72 hours before checkin with no penalty.

                          <p>This is a pretty nice place and it's about half way between the church and the reception venue- about a $10 taxi to either one. Subway fare is currently $2.50 per ride per person- Grand Central Station is a 7 minute walk from this hotel.</p></li>

                        <li>
                          The Kitano / $199/night is the best rate we have found so far other than at Larchmont Hotel- a "European style" hotel that is just 3 blocks from the reception venue. The rooms are clean and modest with shared hallway bathrooms. Prices range from $130-$165 for a queen room. They don't do wedding blocks here so just call (212) 989-9333 to make a reservation.</li>

                        <li>
                          There is a nice Hyatt Union Square- if you can find a good price on a discount site- that would be a very convenient place to stay.</li>

                        <li>
                          These are a few places we have found that are near the wedding venues and are reasonably priced. HOWEVER the best rates can be found on hotels.com or kayak.com or a similar discount booking site. </li>

                    </ul>
                </div>
                
                </div>
                
              </div>  

          </div>  
      </div><!--/.data spy-->

      <div class="clearfix"></div>
          
    </div><!--/.container fluid-->

  </body>
</html>