<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

  <body>

<div class="container-fluid">

<div class="header">

  <div class="row">  
      <div class="head_title col-sm-12 col-md-12 col-lg-12">
          <h1>We’re Getting Married</h1>
          <p class="sub_title">SATURDAY, 25<sup>th</sup> JULY 2015</p>
      </div>
  </div>

  <div class="row">
    
      <div class="head_names">

          
          <div class="col-xs-12 col-sm-12">

            <div  class="col-xs-5 col-sm-4">
              <div class="head_name head_name_left">
                  <strong>JULIAN</strong> <em>COUNIHAN</em>
              </div>
            </div>

            <div class="col-xs-2 col-sm-4">
              <div class="head_amp">
                    <img style="position: relative; top: 50%; transform: translateY(-50%); max-width: 100%;" class="img-responsive" src="http://demo.themefuse.com/justmarried/wp-content/themes/just-married-parent/images/head_amp.png" >
              </div>
            </div>

            <div  class="col-xs-5 col-sm-4">
              <div class="head_name head_name_right">
                  <strong>EMILY</strong> <em>CHRISTENSEN</em>
              </div>
            </div>

          </div>

      </div> <!--/head_names-->
  </div> <!--/row-->
  
  <div class="clearfix"></div>

</div>   <!--/header-->

        <!--/main-->

      <div class="clearfix"></div>
          
    </div><!--/.container fluid-->

  </body>
</html>