<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

  <body>

        <div class="container-fluid">

        <!--/main-->
        <div style="padding-top: 10px;" data-spy="scroll" data-target="#sidebar-nav">
        
          <div class="row row-centered ">
              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                          <img src='/images/savethedate.jpg'   class="main-box-image">
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <h1> schedule </h1>
                      <ul>
                        <li> Rehearsal Dinner on Friday, July 24th @ 8:00pm at the Sugarlift Gallery (map)</li>
                        <li> Wedding Ceremony on Saturday, July 25th @ 5:00pm at Christ Church (map) </li>
                        <li> Reception on Saturday, July 25th @ 7:00pm at 80 5th Avenue (map)</li>
                        <li> Brunch on Sunday, July 26th @ 11:00am at 52 East 13th (map)</li>
                      </ul>
                  <h4>{click here for more information}</h4>
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                  <img src='/images/pic1.jpg'   class="main-box-image">
              </div>


              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <h1> other </h1>
                <h2> registry </h2>
                      <ul>
                        <li> Bed, Bath & Beyond </li>
                        <li> Home Depot </li>
                      </ul>
                <h2> sites to see </h2>      
                <h2> nyc tips </h2>      
              <h4>{click here for more information}</h4>
              </div>
              
          </div>

          <div class="row row-centered">
              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <h1> travelling to new york </h1>
                      <ul>
                        <li> Getting here by plane </li>
                        <li> Getting here by plane </li>
                        <li> Getting here by car </li>
                        <li> Getting around while you're here </li>
                      </ul>
                  <h4>{click here for more information}</h4>
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                      <img src='/images/pic2.jpg'   class="main-box-image">
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                <h1> accommodations </h1>
                    <ul>
                        <li> W Hotel in Union Square </li>
                        <li> Hyatt Hotel in Union Square </li>
                        <li> Jade Hotel </li>
                      </ul>
                <h4>{click here for more information}</h4>
              </div>  

              <div class="col-sm-1 col-md-6 col-lg-3 col-centered col-fixed">
                      <img src='/images/pic3.jpg'   class="main-box-image">
              </div>

          </div>  
      </div><!--/.data spy-->

        <div class="clearfix"></div>
          
    </div><!--/.container fluid-->

  </body>
</html>