<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-container" >
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/building.png" style="height: 40px; margin-top: -10px;"></a>
    </div><!--/.navbar-header -->

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#location">RSVP</a></li>
          <li><a href="#registry">Registry</a></li>
          <li><img src="images/building.png" class="navigation-bar-building" ></li>
          <li><a href="#accommodation">Hotels</a></li>
          <li><a href="#travel">Travel</a></li>
          <li><a href="#other">Tips</a></li>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>


