<div class="row scriptTitle visible-sm visible-md visible-lg">
      <div class="col-xs-12">
        Julian & Emily
      </div>
  </div>
  <div class="row scriptTitle visible-xs ">
      <div class="col-xs-12">
        Julian
      </div>
      <div class="col-xs-12" style="margin-top: 25px;">
        &
      </div>
      <div class="col-xs-12" style="margin-top: 25px; margin-bottom:30px;">
        Emily
      </div>
  </div>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-container" >
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/building_small.png" style="height: 40px; margin-top: -10px;"></a>
    </div><!--/.navbar-header -->

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/rsvp">RSVP</a></li>
          <li><a href="/registry">Registry</a></li>
          <li><img src="images/building.png" class="navigation-bar-building" ></li>
          <li><a href="/hotels">Hotels</a></li>
          <li><a href="/travel">Travel</a></li>
          <li><a href="/tips">Tips</a></li>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>


