.main-box-image {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  min-height: 300px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
 }

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-5px;
}

.col-fixed {
    /* custom width */
    width:300px;
    height: 300px;
    padding: 0 !important;
    border: 1px solid #000;
    overflow: hidden;
    margin-top: -5px !important;
}

  /* remove spacing between middle columns */
.row.row-no-padding [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:0;
  padding-left:0;
}
/* remove right padding from first column */
.row.row-no-padding [class*='col-']:first-child {
  padding-right:0;
}
/* remove left padding from first column */
.row.row-no-padding [class*='col-']:last-child {
  padding-left:0;
}