/*----------------------------------------------*/
/* Custom Helper Classes */
/*----------------------------------------------*/

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body {
  font-family: Lato,sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

/*----------------------------------------------*/
/* Main Content */
/*----------------------------------------------*/


/* centered columns styles */
.row-centered {
    text-align:center;
 }

.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-5px;
}

.col-fixed {
    /* custom width */
    width:300px;
    height: 300px;
    padding: 0 !important;
    overflow: hidden;
    margin-top: -6px !important;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.col-fixed-header {
    /* custom width */
    padding: 0 !important;
    overflow: hidden;
    margin-top: -6px !important;
}

.box-title{
  margin: 0px 15px 30px 15px;
  color:#3f403f;
  text-align: center;
  display:block;
  font-family: 'Six Caps', sans-serif;
  font-size:35px;
  font-weight:400;
  line-height:1em;
  letter-spacing:1px;
  border-bottom: 1px solid #a6c554;
}

.box-subtitle {
  margin-top: 5px;
  color: #314E55;
  font-size: 16px;
  text-align: center;
}

.box-content{
  margin-top: 2px;
  color: #314E55;
  text-align: left;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  line-height: 16px;
}

.box-content ul{
  padding-left: 14px;
}

.box-content li {
  margin-top: 4px;
}

/*----------------------------------------------*/
/* Header */
/*----------------------------------------------*/

body {
  font-family: 'Copse', Georgia, Times, serif;
  color:#8c8c8c;
  font-size:14px;
  line-height:1.4em;
  position:relative;
  padding-top: 25px;}

.head_title {
  height:83px;
  text-align:center;}

.head_title h1, .head_title strong {
  display:block;
  color:#404040;
  font-size:25px;
  margin:0;
  padding:12px 0 10px;
  font-weight:normal;
  line-height:1.1em;}

.sub_title {
  text-transform:uppercase;
  font-size:20px;
  color:#cc0a29;
  font-family: 'Copse', Georgia, Times, serif;}

.sub_title sup {
  font-size:50%;
  top:-0.6em}

.head_name {
  display:inline-block;
  color:#3f403f;
  border-top:3px double #a6c554;
  border-bottom:3px double #a6c554;
  text-shadow:0 1px 1px #fff;
  text-transform:uppercase;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  height: auto;}

.head_name strong {
  display:block;
  font-family: 'Six Caps', sans-serif;
  font-size:90px;
  font-weight:400;
  line-height:1em;
  letter-spacing:1px;}

.head_name em {
  font-style:normal;
  display:block;
  padding-top:5px;
  line-height:1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:15px;
  font-weight:bold;}

.head_amp {
  display: inline-block; 
  width: 30%;
  height: auto;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

/*----------------------------------------------*/
/* Media Queries */
/*----------------------------------------------*/

/* Custom, iPhone Retina */ 

@media only screen and (max-width : 320px) {
      .head_name {
        padding-left: 0px;
        padding-right: 0px;
      }
}


@media only screen and (min-width : 320px) {
      .col-sm-height {
        display: table-cell;
        float: none !important;
      }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
      .col-sm-height {
        display: table-cell;
        float: none !important;
      }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
     .col-sm-height {
        display: table-cell;
        float: none !important;
      }       
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
      .col-md-height {
        display: table-cell;
        float: none !important;
      }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
      .col-lg-height {
        display: table-cell;
        float: none !important;
      }
}



[class*="col-"] {

  
}




