/*----------------------------------------------*/
/* Custom Helper Classes */
/*----------------------------------------------*/

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.control-label {
  text-align: left !important;
}


body {
  font-family: Lato,sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

/*----------------------------------------------*/
/* Main Content */
/*----------------------------------------------*/

.btn {
  background-color: rgba(102, 102, 102, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: 2px solid rgba(71, 71, 71, 1) !important;
  font-weight: 500;
  height: 50px;
  padding: 5px 10px;
  font-size: 16px;
  width: 150px;
}

.box-description {
  text-align: left;
}

.box-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  margin-bottom: 2px;
  font-family: "Copse",Georgia,Times,serif;
  padding: 10px;
}

.hotel-title-description {
  font-style: italic;
  margin-bottom: 15px;
}

.hotel-description {
  text-align: left;
  padding: 5px;
}

.hotel-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  margin-bottom: 2px;
  font-family: "Copse",Georgia,Times,serif;
}

.hotel-title a {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  margin-bottom: 2px;
  font-family: "Copse",Georgia,Times,serif;
}

.col-box-content {
    /* height: 500px; */
    vertical-align: top;
    overflow: hidden;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.col-full-box-content {
    
    /* height: 500px; */
    vertical-align: top;
    overflow: hidden;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#gmaps {
    width: 345px;
    height: 300px;
}

.main-content-container {
  margin-top: 25px;
}

.view-container {
  text-align: center;
}

@font-face {
    font-family: titleScript;
    src: url(scriptFont.ttf);
}

.scriptTitle {

  font-family: titleScript;
  font-size: 80px;
  color:#000;
}


/* centered columns styles */
.row-centered {
    text-align:center;
 }

.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-5px;
}

.col-fixed {
    /* custom width */
    width:350px;
    /* height: 500px; */
    vertical-align: top;
    padding: 0 !important;
    overflow: hidden;
    margin-top: -6px !important;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.col-fixed-picture {
    /* custom width */
    width:70px;
    height: 110px; 
    vertical-align: middle;
  }

.col-fixed-description {
    /* custom width */
    width:250px;
    height: 110px; 
    font-size: 16px;
    margin-top: 0px;
    vertical-align: middle;
  }

.col-fixed-header {
    /* custom width */
    padding: 0 !important;
    overflow: hidden;
    margin-top: -6px !important;
}


.box-subtitle {
  margin-top: 5px;
  color: #314E55;
  font-size: 16px;
  text-align: center;
}


.box-content ul{
  padding-left: 14px;
}

.box-content li {
  margin-top: 4px;
}

/*----------------------------------------------*/
/* Header */
/*----------------------------------------------*/

body {
  font-family: 'Copse', Georgia, Times, serif;
  color:#8c8c8c;
  font-size:14px;
  line-height:1.4em;
  position:relative;
  padding-top: 25px;}

.head_title {
  height:83px;
  text-align:center;}

.head_title h1, .head_title strong {
  display:block;
  color:#404040;
  font-size:25px;
  margin:0;
  padding:12px 0 10px;
  font-weight:normal;
  line-height:1.1em;}

.sub_title {
  text-transform:uppercase;
  font-size:20px;
  color:#ee5b6d;
  margin-bottom: 20px;
  font-family: 'Copse', Georgia, Times, serif;}

.sub_title sup {
  font-size:50%;
  top:-0.6em}

.location_title{
  color: #000;
  margin-bottom: 4px !important;
}

.location_description{
  font-size: 12px;
  margin-bottom: 2px !important;
  }

.head_name {
  display:inline-block;
  color:#3f403f;
  border-top:3px double #a6c554;
  border-bottom:3px double #a6c554;
  text-shadow:0 1px 1px #fff;
  text-transform:uppercase;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  height: auto;}

.head_name strong {
  display:block;
  font-family: 'Six Caps', sans-serif;
  font-size:90px;
  font-weight:400;
  line-height:1em;
  letter-spacing:1px;}

.head_name em {
  font-style:normal;
  display:block;
  padding-top:5px;
  line-height:1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:15px;
  font-weight:bold;}

.head_amp {
  display: inline-block; 
  width: 30%;
  height: auto;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

.navigation-bar-building{

  height:90px;
  margin-top: -33px;
}
/*----------------------------------------------*/
/* Media Queries */
/*----------------------------------------------*/

/* Custom, iPhone Retina */ 

@media only screen and (min-width : 320px) {
      .col-sm-height {
        display: table-cell;
        float: none !important;
      }
}


@media only screen and (max-width : 480px) {
      .head_name {
        padding-left: 0px;
        padding-right: 0px;
      }

      .head_name strong{
        font-size:62px;
      }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
      .col-sm-height {
        display: table-cell;
        float: none !important;
      }

}

@media only screen and (max-width : 768px) {
    .tasks-list-item{
      text-align: left;
      padding-left: 20px;
    }

    .scriptTitle{
        text-align: center;
        height: 90px;
        margin-top: 65px;
        line-height:0.75em;
        font-size:60px;
        margin-bottom: 20px;
      }

    .head_title{
      margin-top: 10px;
    }

    .navigation-bar-building {
      display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
      .tasks-list-item{
      text-align: center;
    }


      .col-box-content{
             /* custom width */
          width:350px;
      }

      .col-full-box-content{
       /* custom width */
          width:700px;
      }

     .col-sm-height {
        display: table-cell;
        float: none !important;
      }
      .navbar-fixed-top{
        position:relative;
      }

      .navbar-brand{
        display:none;
      }

      .scriptTitle{
        text-align: center;
        height: 90px;
        margin-top: 30px;
      }

      .navbar-container {
        width:700px;
        text-align:center;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        height: 52px;
        padding: 0px !important;
      }

      .navbar {
        background-color: #fff;
        border: 0px;
      }

      .navbar-nav li {width: 100px;}


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
      .col-md-height {
        display: table-cell;
        float: none !important;
      }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
      .col-lg-height {
        display: table-cell;
        float: none !important;
      }
}



[class*="col-"] {

  
}



