<div class="head_title ">
    <h1>{{MainTitle}}</h1>
    <p class="sub_title">{{SubTitle}}</p>
</div>

<div class="main-content-container" style="700px">

	<form>
		<div class="row row-centered">		
			<div class="col-sm-12 col-centered col-full-box-content">
	       		<input class="col-sm-3" ng-model="formData.GuestFirstName">
	       		<input class="col-sm-3" ng-model="formData.GuestLastName">
	       		<button  class="admin-btn btn-primary col-sm-6" type="button" ng-click="createGuest(formData)">add new</button>
 			</div>
 		</div>
 	</form>

 	<br>

	<div class="row row-centered">		
			<div class="col-sm-12 col-centered col-full-box-content">
	       		<div class="col-sm-2" style="text-align:left">First Name</div>
	       		<div class="col-sm-2" style="text-align:left">Last Name</div>
     			<div class="col-sm-2">Wedding: </div>
     			<div class="col-sm-2">Rehearsal: </div>
     			<div class="col-sm-2">Reception:</div>
     			<div class="col-sm-2">RSVP No:</div>
	  		</div>
  	</div>

	<form><div ng-repeat="guestRow in guest" class="form-group">
	
		<div class="row row-centered" ng-repeat="guestName in guestRow.guestNames">		
			<div class="col-sm-12 col-centered col-full-box-content">
	       		<input class="col-sm-2" ng-model="guestName.GuestFirstName">
	       		<input class="col-sm-2" ng-model="guestName.GuestLastName">
     			<input type="checkbox" class="col-sm-2" ng-model="guestName.WeddingAttending">
     			<input type="checkbox" class="col-sm-2" ng-model="guestName.RehearsalAttending">
     			<input type="checkbox" class="col-sm-2" ng-model="guestName.ReceptionAttending">
     			<input type="checkbox" class="col-sm-2" ng-model="guestName.NotAttending">
 			</div>
 		</div>

  		<div class="row row-centered">		
			<div class="col-sm-12 col-centered col-full-box-content" style="text-align: left; border-bottom: 1px dashed #000; padding: 10px;">
				<button type="button" class="admin-btn btn-primary " ng-click="deleteGuest(guestRow.guestNames[0].GuestName)">delete all</button>
				<button type="button" class="admin-btn btn-primary " ng-click="deleteLastGuest(guestRow)">delete last</button>
				<button type="button" class="admin-btn btn-primary " ng-click="updateGuest(guestRow)">update</button>
				<button type="button" class="admin-btn btn-primary" ng-click="addGuest(guestRow)">add guest</button>
			</div>
		</div>

		<hr>

  	</div></form>
</div><!-- / main-content-container -->