<div class="panel panel-default">
    <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>{{companyDetail.CompanyName}} Detail </h4></div>
    <div class="panel-body">
        <div class="row">
          <div class="list-group">
            <a href="#" class="list-group-item">{{companyDetail.CompanyName}}</a>
            <a href="#" class="list-group-item">{{companyDetail.RSVInvestment}}</a>
            <a href="#" class="list-group-item">{{companyDetail.TotalRoundSize}}</a>
          </div>
      </div><!-- /row -->
    </div>
</div><!--/panel-->