<div class="panel panel-default">
    <div class="panel-heading"><a href="#" class="pull-right"></a> <h4>Portfolio Companies</h4></div>
    <div class="panel-body">
        <div class="list-group">
        	<div ng-repeat="company in companies | filter:query | orderBy:orderProp">
                <a href="/#/companies/{{company.CompanyName}}" class="list-group-item row">{{company.CompanyName}}</a>
                <!-- <button type="button" class="btn btn-primary" ng-click="deleteCompany(company.CompanyName)"> Delete </button> -->
            </div>
        </div>
    </div><!--/panel-->
</div><!--/panel-->