<div class="panel panel-default">
    <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Portfolio Companies</h4></div>
    <div class="panel-body">
        <div class="list-group" ng-repeat="company in companies | filter:query | orderBy:orderProp">
            
                <a href="/#/companies/{{company.CompanyName}}" class="list-group-item">{{company.CompanyName}}</a>
                <!-- <button type="button" class="btn btn-primary" ng-click="deleteCompany(company.CompanyName)"> Delete </button> -->
            
        </div>
    </div>
</div><!--/panel-->