<div class="panel panel-default">
    <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>{{companyDetail.CompanyName}} Detail </h4></div>
    <div class="panel-body">
        <div class="row">
          <div class="list-group">
            <a href="#" class="list-group-item">{{companyDetail.CompanyName}}</a>
            <a href="#" class="list-group-item">{{companyDetail.Ownership}}</a>
            <a href="#" class="list-group-item">{{companyDetail.NumberInvestments}}</a>
            <a href="#" class="list-group-item">{{companyDetail.RSVInvestment}}</a>
            <a href="#" class="list-group-item">{{companyDetail.TotalInvestment}}</a>
            <a href="#" class="list-group-item">{{companyDetail.Mark-to-Market}}</a>
            <a href="#" class="list-group-item">{{companyDetail.Return}}</a>
            <a href="#" class="list-group-item">{{companyDetail.Industry}}</a>
          </div>
      </div><!-- /row -->
    </div>
</div><!--/panel-->