<div class="panel panel-default">
    <div class="panel-heading"><a href="#" class="pull-right"></a> <h4>{{companyDetail.CompanyName}} Detail </h4></div>
    <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item row">
                RSV Ownership : <div class="pull-right">{{companyDetail.Ownership}}</div></a>
            <a href="#" class="list-group-item row">
                RSV # Investments : <div class="pull-right">{{companyDetail.NumberInvestments}}</div></a>
            <a href="#" class="list-group-item row">
                RSV Investment : <div class="pull-right">{{companyDetail.RSVInvestment}}</div></a>
            <a href="#" class="list-group-item row">
                Total Round : <div class="pull-right">{{companyDetail.TotalInvestment}}</div></a>
            <a href="#" class="list-group-item row">
                Mark-To-Market : <div class="pull-right">{{companyDetail.Mark-to-Market}}</div></a>
            <a href="#" class="list-group-item row">
                Return : <div class="pull-right">{{companyDetail.Return}}</div></a>
            <a href="#" class="list-group-item row">
                Industry : <div class="pull-right">{{companyDetail.Industry}}</div></a>
          </div>
    </div>
</div><!--/panel-->