<div class="head_title ">
    <h1>{{MainTitle}}</h1>
    <p class="sub_title">{{SubTitle}}</p>
</div>

<div class="main-content-container" style="700px">

	<div ng-switch="moduleState">
	<div ng-switch-when="loading">
		<div class="heartbeat">
	    	Loading...
		</div>
	</div>
    <div ng-switch-when="login">

	<!-- LOGIN FORM -->
		<form >
			<div class="row row-centered">		
				<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content">
			    	<div class="form-group">
			  			<label class="control-label requiredField" for="FirstName">
			       			First Name <span class="asteriskField">*</span>
			      		</label>
				      	<div class="controls ">
				       		<input class="form-control" id="GuestFirstName" name="GuestFirstName" type="text" ng-model="formData.GuestFirstName" placeholder="First Name" />
				      	</div>
			     	</div>
			 	</div>
				<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content">
					<div class="form-group">
			      		<label class="control-label requiredField" for="LastName">
			       			Last Name <span class="asteriskField">*</span>
			      		</label>
			      		<div class="controls ">
			       			<input class="form-control" id="GuestLastName" name="GuestLastName" type="text" ng-model="formData.GuestLastName" placeholder="Last Name"/>
			      		</div>
			     	</div>
			 	</div>
		 	</div>
		 	<div class="row row-centered">		
			<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-full-box-content">			 	
				<button type="submit" class="rsvp-btn btn-primary btn-lg" ng-click="findGuest()">load invitation</button>
			</div></div>
		</form>
	</div><!-- / LOGIN FORM -->

<div ng-switch-when="details">

			<form>
				<div ng-repeat="guestRow in guest.guestNames">
				<div  class="row row-centered">
				<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content">
					<div class="form-group">
					    <label for="GuestFirstName" class="control-label">{{guestRow.Type}} First Name</label>
					    <div class="controls">
					      <input type="GuestFirstName" class="form-control" id="GuestFirstName" ng-model="guestRow.GuestFirstName">
					    </div>
				  	</div>
			  	</div>

			  	<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content">
				  	<div class="form-group">
					    <label for="GuestLastName" class="control-label">{{guestRow.Type}} Last Name</label>
						    <div class="controls">
						      <input type="GuestLastName" class="form-control" id="GuestLastName" ng-model="guestRow.GuestLastName">
						    </div>
				  	</div>
			  	</div></div>

		  		<div class="row row-centered">
		  				<div class="col-xs-12 col-centered col-full-box-content">
		  				<div class="row">			  	
							<div class="col-xs-6 col-sm-3 task-div">
								<label class="tasks-list-item" />
						        <input type="checkbox" id="RehearsalAttending" name="RehearsalAttending" ng-model="guestRow.RehearsalAttending" class="tasks-list-cb" ng-change="attendDetails()">
						        <span class="tasks-list-mark"></span>
						        <span class="tasks-list-desc">Friday BBQ</span>
					        </div>

							<div class="col-xs-6 col-sm-3 task-div">
								<label class="tasks-list-item" />
						        <input type="checkbox"  id="WeddingAttending" name="WeddingAttending" ng-model="guestRow.WeddingAttending" class="tasks-list-cb"  ng-change="attendDetails()">
						        <span class="tasks-list-mark"></span>
						        <span class="tasks-list-desc">Wedding</span>
					        </div>

							<div class="col-xs-6 col-sm-3 task-div">
								<label class="tasks-list-item"/>
						        <input type="checkbox"  id="ReceptionAttending" name="ReceptionAttending" ng-model="guestRow.ReceptionAttending" class="tasks-list-cb"  ng-change="attendDetails()">
						        <span class="tasks-list-mark"></span>
						        <span class="tasks-list-desc" >Reception</span>
					        </div>

							<div class="col-xs-6 col-sm-3 task-div">
								<label class="tasks-list-item"/>
						        <input type="checkbox"  id="NotAttending" name="NotAttending" ng-model="guestRow.NotAttending" class="tasks-list-cb">
						        <span class="tasks-list-mark"></span>
						        <span class="tasks-list-desc" >Not Attending</span>
					        </div>
				        </div></div>
    			</div></div> <!-- end guestNames loop -->

    			<div class="form-group row">
				<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content form-group">

    			<div ng-show="showAttendDetails">
		  		<div ng-switch="moduleGuest">
					<div ng-switch-when="Yes">
					  		<label for="Email" class="col-sm-8 control-label">My invitation includes {{guest.GuestsAllowed}} possible guests and I will be bringing : </label>
							<div class="col-sm-4">
							  	<select class="form-control" ng-repeat="x in guest.GuestsAllowed">
									  <option>{{x}} guests</option>
								</select>
							</div>
					</div><div ng-switch-when="No">
						<label>Argh! Our venue has a strict limit on the total number of guests, and we unfortunately can't extend an invitation for a plus one given capacity constraints.</label>
			  		</div>
				</div>
				</div>

				</div>

				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content form-group">
					    <label for="Email">Email</label>
						    <div>
						      <input type="Email" class="form-control" id="Email" ng-model="guest.Email">
						    </div>
				  	</div>

					<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content form-group">
						    <label for="Hotel">Hotel</label>
						    <div>
						      <input type="Hotel" class="form-control" id="HotelName" ng-model="guest.HotelName">
						    </div>
				  	</div>
			  	</div>

			  	<div class="row">
				  	<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content form-group">
						    <label for="Phone">Phone</label>
						    <div>
						      <input type="Phone" class="form-control" id="PhoneNumber" ng-model="guest.PhoneNumber">
						    </div>
				  	</div>

					<div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content form-group">
						    <label for="Phone">Favorite Song</label>
						    <div>
						      <input type="FavoriteSong" class="form-control" id="FavoriteSong" ng-model="guest.FavoriteSong">
						    </div>
				  	</div>
			  	</div>

			  	<div class="row">
				  	<div class="col-sm-12 col-md-12 col-lg-12 col-centered col-full-box-content form-group">
						    <label for="Address">Address</label>
						    <div>
						      <input class="form-control" id="HomeAddress" ng-model="guest.HomeAddress">
						    </div>
				  	</div>
			  	</div>


			  	</div><!-- / ng-switch when showAttendDetails == yes -->				  

		  	<div class="row">
	  			<button type="submit" class="rsvp-btn btn-primary btn-lg" ng-click="updateGuest(guest.guestNames[0].GuestName)">{{buttonName}}</button>
	  		</div>

	  	</form>

	</div><!-- / ng-switch when ModuleState == details -->
	</div><!-- / ng-switch ModuleState -->
</div><!-- / main-content-container -->

			  	