<div class="head_title ">
    <h1>{{MainTitle}}</h1>
    <p class="sub_title" ng-bind-html="SubTitle | to_trusted"></p>
</div>

<div class="main-content-container">

    <div class="row row-centered">

      <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-fixed" style="text-align: left; ">

            <div class="row row-centered" style="text-align: left">
                <div class="col-sm-1 col-centered col-fixed-picture">
                    <img src="images/circle_pig_small.png">
                </div>
                <div class="col-sm-11 col-centered col-fixed-description">
                    <p class="location_title">Friday BBQ</p>
                    <p class="location_description">6:00pm Friday, July 24th</p>
                    <p class="location_description">All invited! Brooklyn [TBD]</p>
                </div>
            </div>
            
            <div class="row row-centered" style="text-align: left">
                <div class="col-sm-1 col-centered col-fixed-picture">
                    <img src="images/circle_heart_small.png">
                </div>
                <div class="col-sm-11 col-centered col-fixed-description">
                    <p class="location_title">Wedding Ceremony</p>
                    <p class="location_description">4:00pm Saturday, July 25th</p>
                    <p class="location_description">Christ Church</p>
                </div>
            </div>

            <div class="row row-centered" style="text-align: left">
                <div class="col-sm-1 col-centered col-fixed-picture">
                    <img src="images/circle_party_small.png">
                </div>
                <div class="col-sm-11 col-centered col-fixed-description">
                    <p class="location_title">Reception</p>
                    <p class="location_description">7:00pm Saturday, July 25th</p>
                    <p class="location_description">80 5th Avenue</p>
                </div>
            </div>

      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-fixed">
            <div my-map=""></div>
      </div>

    </div><!--/ row -->
</div><!--/ main-content-container -->    