<div class="head_title ">
    <h1>{{MainTitle}}</h1>
    <p class="sub_title" ng-bind-html="SubTitle | to_trusted"></p>
</div>

<div class="main-content-container">
    
    <div class="heartbeat" ng-hide="moduleState">
        Loading...
    </div>
    
    <div class="row row-centered" style="visible: false" visible="moduleState">

        <div class="row row-centered">
            <div class="col-xs-12 col-centered col-full-box-content" style="padding: 0px; margin-right: 0px">
                <div my-map=""></div>
            </div>
        </div>

    <div class="row row-centered" style="margin-top: 20px; ">

            <div class="col-xs-12 col-sm-2 col-centered col-3box-content">
                <div class="tip-item" ng-click="navigate(x.id)" ng-repeat="x in places">
                    <img src="images/map_place.png" >
                    <span class="tip_title">{{x.title}}</span>
                    <div class="tip_description">{{x.description}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-centered col-3box-content" >
                <div class="tip-item" ng-click="navigate(y.id)" ng-repeat="y in foods">
                    <img src="images/map_food.png">
                    <span class="tip_title">{{y.title}}</span>
                    <div class="tip_description">{{y.description}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-centered col-3box-content" >
                <div class="tip-item" ng-click="navigate(j.id)" ng-repeat="j in drinks">
                    <img src="images/map_drink.png">
                    <span class="tip_title">{{j.title}}</span>
                    <div class="tip_description">{{j.description}}</div>
                </div>
            </div>       

      </div>

      <div style-"margin-bottom: 30px; height: 40px;"><hr></div>
  </div>

    </div><!--/ row -->
</div><!--/ main-content-container -->    