<div class="head_title ">
    <h1>{{MainTitle}}</h1>
    <p class="sub_title">{{SubTitle}}</p>
</div>

<div class="main-content-container">

  <div class="row row-centered">

    <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content">

      <div class="box-title">
          General Travel Tips
      </div>
          

      <div class="box-description">
        Fifth Avenue divides Manhattan into the east and west sides. Building numbers increase as you go farther east or west. When getting directions, always ask for the cross streets which will make it easier to find your destination and for locals to guide you should you need additional assistance. In Manhattan, if you walk 20 blocks north or south, you've walked one mile. Locals call the north-south blocks “short blocks” or "street blocks" and the east-west blocks “long blocks” or “avenue blocks.”
      </div>
    </div><!--/ cell -->

  <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content" >
      <div class="box-title">
          Taxi / Uber / Lyft
      </div>
        

      <div class="box-description">
        If the light on top of a yellow taxi is lit, it indicates the taxi is available. Uber and Lyft are two apps that allow you to request a private car to pick up you at your location. Uber has a cheaper option within the app ("UberX") that provides smaller cars which is comparable to Lyft in pricing. Both companies are generally the same cost as a yellow cab but beware of "surge" pricing which can be as high as 8.0x normal prices during times of peak demand. Taxis, Ubers and Lyfts operate day and night.
      </div>
    </div>

  </div><!-- / row -->

  <div class="clearfix" style="clear: both"></div>

  <div class="row row-centered">

    <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content" >
        <div class="box-title">
            Subway
        </div>

        <div class="box-description">
          The easiest and quickest way to travel around NYC is by public subway train. Subway trains operate 24 hours a day, seven days a week and cost $2.75 for a single ride. Subways can get pretty hot during the summer and, with three or more people, it can make sense to take a taxi.
        </div>
    </div>

  <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content" >

    <div class="box-title">
        Train
    </div>

    <div class="box-description">
      New York City has two main train stations found in Midtown: Grand Central Terminal (on the east side) and Penn Station (on the west side). Each is also served by numerous subway lines. Grand Central is served by Metro-North Railroad, which goes to NYC suburbs in New York and Connecticut. Penn Station is served by the following: Long Island Rail Road, Amtrak, and NJ Transit.
    </div>

  </div>
  </div><!-- /row -->

   <div class="clearfix" style="clear: both"></div>

  <div class="row row-centered">

    <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content" >
        <div class="box-title">
            Plane
        </div>

        <div class="box-description">
          JFK is New York's largest airport and mostly international airport. There two best ways to get to / from the city are taxis and the AirTran. A taxi will cost about a $60 flat fair from the airport and will take about one to one and a half hours. The AirTran will cost about $5 to travel to the subway or NJ Transit and (including subway / NJ Transit travel) should take 1.5 to 2 hours to get to central Manhattan.

          LaGuardia Airport is New York's second-largest airport and does not have great public transportation options. When travelling to / from LaGuardia, a taxi cab will take 45 minutes to 1 hour and should cost under $40.
        </div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-centered col-box-content" >
        <div class="box-title">
        </div>

        <div class="box-description">
        </div>
    </div>

  </div><!-- /row -->

</div><!-- /main-container -->